<h1 href="#" class="navbar-brand main-titles">{{ title }}</h1>
<div class="map-wrap ">
  <h3 class="title">Map</h3>
  <agm-map 
    [latitude]='lat'
    [longitude]='lng'
    [zoom] = '4'> 
    <agm-marker
      *ngFor='let marker of markers'
      [latitude]='marker.lat'
      [longitude]='marker.lng'
      [opacity]='marker.alpha'
      [openInfoWindow]='marker.openInfoWindow'
      [markerDraggable]='false'>
      <agm-info-window [disableAutoPan]="true" [isOpen]="false">
        <strong>{{ marker.label }}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>